.accordion {
    display: grid;
    color: var(--color-black);
    gap: var(--spacing-md);

    transition: 0.6s ease-in-out;
}

.accordion__container {
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: 0.6s ease-in-out;
    border: 1px solid var(--color-bg-primary);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);

    &.is-active {
        .up {
            transform: rotate(-90deg);
        }

        .accordion__content {
            display: block;
        }
    }
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-black);
    padding: 20px 30px;
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
    font-weight: 600;

    .up {
        transition: transform 0.3s ease-in-out;
        transform: rotate(-180deg);
    }

    h3 {
        margin: 0;
        font-weight: bold;
        font-size: 1.2rem;
        transition: color 0.3s ease-out;
    }

    &:hover {
        background-color: #efefef;
        transform: scale(1.01);
    }
}

.accordion__content {
    cursor: pointer;
    padding: 20px 30px;
    font-size: 1rem;
    display: none;
}
