.footer {
    background-color: var(--color-bg-primary);
    color: var(--color-white);
    padding: 60px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
            height: 100%;
        }

        .logo-reseaux {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .logo {
            padding-bottom: 40px;
        }

        a {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: var(--color-primary);
                width: 0;
                height: 2px;
                opacity: 0;
                transition: all 0.4s $ease-out-expo;
                border-radius: 24px;
            }

            &:hover {
                color: var(--color-primary);
                text-decoration: none;

                &::after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}

.reseaux {
    display: flex;
    gap: 24px;
}
