.hero {
    position: relative;
    height: 70vh;
    width: 100%;
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgba($color: #000000, $alpha: 0.3);
        z-index: 4;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__content {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    img {
        padding-top: 5%;
        padding-left: 12%;
        display: block;
    }
}
