/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f8f9fa;
    --color-black: #2e2e2e;
    --color-gray: #cfcfcf;

    // Couleurs du projet
    --color-primary: #e67e22;
    --color-secondary: #6b8e23;
    --color-tertiary: #5dade2;

    --color-bg-primary: #2c3e50;
}
