/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    --font-size-content: #{typo(16px, 20px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(50px, 70px)};
    --font-size-h2: #{typo(32px, 50px)};
    --font-size-h3: #{typo(28px, 42px)};
    --font-size-h4: #{typo(24px, 36px)};
    --font-size-h5: #{typo(20px, 30px)};

    --font-size-btn: #{typo(16px, 24px)};
    --font-size-a: #{typo(12px, 14px)};
}
