{% include '_partials/_header.html' %}

<!-- Section Hero -->
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/placeholder.png" alt="Image hero produits" />
        </div>
        <div class="hero__content">
            <p>icone</p>
            <h1>Bois</h1>
        </div>
    </div>
</section>

<section class="produits">
    <div class="wrapper">
        <div class="grilles">
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>
                        m is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the l
                    </p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>Description Description Description Description DescriptionD escriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/marteau.png" alt="" />
                </div>
                <div class="card-content">
                    <h4>Produit #1</h4>
                    <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
                    <a href="single-produit.html" class="button">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
