{% include '_partials/_header.html' %}

<!-- Section Hero -->
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero-accueil.png" alt="Image hero produits" />
        </div>
        <div class="hero__content">
            <img src="assets/images/logo-hero.png" alt="Logo du site" />
        </div>
    </div>
</section>

<!-- Section Catégories -->
<section class="categories">
    <div class="wrapper">
        <h2>Nos produits</h2>
        <div class="swiper" data-component="Carousel" data-loop data-slides="1.1">
            <div class="categories swiper-wrapper">
                <div class="categorie swiper-slide">
                    <div class="categorie__media">
                        <img src="assets/images/marteau.png" alt="Swiper" />
                    </div>
                    <div class="categorie__content">
                        <div class="categorie__info">
                            <svg class="icon icon--xl">
                                <use href="#icon-plomberie"></use>
                            </svg>
                            <h3>Plomberie</h3>
                        </div>
                        <a href="plomberie.html" class="button">Voir plus</a>
                    </div>
                </div>
                <div class="categorie swiper-slide">
                    <div class="categorie__media">
                        <img src="assets/images/marteau.png" alt="Swiper" />
                    </div>
                    <div class="categorie__content">
                        <div class="categorie__info">
                            <svg class="icon icon--xl">
                                <use href="#icon-plomberie"></use>
                            </svg>
                            <h3>Plomberie</h3>
                        </div>
                        <a href="plomberie.html" class="button">Voir plus</a>
                    </div>
                </div>
                <div class="categorie swiper-slide">
                    <div class="categorie__media">
                        <img src="assets/images/marteau.png" alt="Swiper" />
                    </div>
                    <div class="categorie__content">
                        <div class="categorie__info">
                            <svg class="icon icon--xl">
                                <use href="#icon-plomberie"></use>
                            </svg>
                            <h3>Plomberie</h3>
                        </div>
                        <a href="plomberie.html" class="button">Voir plus</a>
                    </div>
                </div>
                <div class="categorie swiper-slide">
                    <div class="categorie__media">
                        <img src="assets/images/marteau.png" alt="Swiper" />
                    </div>
                    <div class="categorie__content">
                        <div class="categorie__info">
                            <svg class="icon icon--xl">
                                <use href="#icon-plomberie"></use>
                            </svg>
                            <h3>Plomberie</h3>
                        </div>
                        <a href="plomberie.html" class="button">Voir plus</a>
                    </div>
                </div>
                <div class="categorie swiper-slide">
                    <div class="categorie__media">
                        <img src="assets/images/marteau.png" alt="Swiper" />
                    </div>
                    <div class="categorie__content">
                        <div class="categorie__info">
                            <svg class="icon icon--xl">
                                <use href="#icon-plomberie"></use>
                            </svg>
                            <h3>Plomberie</h3>
                        </div>
                        <a href="plomberie.html" class="button">Voir plus</a>
                    </div>
                </div>
                <div class="categorie swiper-slide">
                    <div class="categorie__media">
                        <img src="assets/images/marteau.png" alt="Swiper" />
                    </div>
                    <div class="categorie__content">
                        <div class="categorie__info">
                            <svg class="icon icon--xl">
                                <use href="#icon-plomberie"></use>
                            </svg>
                            <h3>Plomberie</h3>
                        </div>
                        <a href="plomberie.html" class="button">Voir plus</a>
                    </div>
                </div>
            </div>
            <!-- N'oubliez pas votre pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="guide">
    <div class="wrapper">
        <h2>Guides</h2>
        <div class="cards--guide">
            <div class="card">
                <div class="guide--medias">
                    <div class="video" data-component="YouTube" data-video-id="N2D9TbHDeCY">
                        <div class="video__media js-video">
                            <img class="js-poster" src="assets/images/hero.jpg" alt="video cool" />
                            <svg class="icon icon--stroke icon--xl logo--yt">
                                <use xlink:href="#icon-play"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="guide--content">
                    <h3>Titre tuto</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatibus culpa odit officia obcaecati!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
